.rej
*.rej
*.orig
bin/
node_modules/
vuesax-laravel-starter/node_modules/
temp/
dist/
versions/
*.zip
/bin
/dist
package-lock.json
docs/.vuepress/dist/
yarn.lock
yarn-error.log
vuexy-shell-scripts
*.local
._.DS_Store
*DS_Store

